.switch label input[type=checkbox]:checked+.lever:after {
    /* darker blue */
    background-color: #1565c0;
}

.switch label input[type=checkbox]:checked+.lever {
    /* lighter blue */
    background-color: #1976d2; 
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #1565c0;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #1565c0;
}

.input-field input[type="text"].validate:focus{
    border-bottom: 2px solid #1565c0;
}


input[type=range]+.thumb {
    background-color: #1565c0;
}


input[type=range], input[type=range]+.thumb {
    background-color: #1565c0;
    color: #1565c0;
}

select {
    display: block;
}

.fine-text {
    font-size: 10pt;
    font-style: italic;
    color: #ccc;
}

.card {
    margin-right: 10px;
}

.card-content img {
    margin: 0 auto;

}

hr { 
    display: block;
    margin-top: 10em;
    margin-bottom: 10em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
    border-color: lightgray;
  } 

h1 {
    background-color: lightgray; 
    border-radius: 20px; 
    width: auto;
    height: auto;

}

h2 {
    background-color: lightgray; 
    border-radius: 20px; 
    width: auto;
    height: auto;
}

h3 {
    font-size: 50px;
}

#search-mod {
    font-size: 32px;
}

.card {
    margin-right: 10px;
    min-height: 305px;
    min-width: 100px;
}

.tabs {
    color: blue;
    background-color: lightgray;
    border-radius: 10px;
    padding-right: 50px;
    
}

.card-banner {
    border-style: double;
    border-color: blue;

}
